.header {
  text-align: center;
  background-color: #61876e;
  padding-bottom: 100px;
  padding-top: 50px;
}

.img {
  width: 100%;
  max-width: 800px;
  height: 400px;
}
.text {
  margin-top: 50px;
  padding: 0px 100px;
}
