.site-layout-content {
  background-color: #fff;
  padding: 24px;
  min-height: 280px;
  text-align: center;
}

.ant-carousel .slick-slide img {
  height: 80vh;
  width: fit-content;
  object-fit: cover;
}

@media only screen and (max-width: 768px) {
  .logo {
    display: none;
  }
}
